@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(34, 98%, 44%, 0.2);
  }
}

.font-header {
  font-family: "Sail", system-ui;
  font-style: normal;
  color: #cd907b;
}

.font-names {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #903727;
}

.font-1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bgd-drawer {
  background: #903727!important;
}

.text-justify {
  text-align: justify
}

.text-center {
  text-align: center
}

.recoil {
  text-indent: 2em
}

.mt-1 {
  margin-top: 15px;
}

.color-1 {
  color: #903727;
}
